@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "react-toastify/dist/ReactToastify.css";

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(39, 119, 155, 1);
}

/* table custom styles */
.table > :not(caption) > * > * {
  background-color: transparent;
  padding: 13px 24px;
}

.paginator-wrapper {
  padding: 0 0.6rem;
}

.paginator-wrapper li {
  min-width: 40px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator-wrapper li a {
  border-right: 0.1rem solid rgba(208, 213, 221, 1);
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.paginator-wrapper li a:nth-child(9) {
  border-right: 0;
}

@media (min-width: 1024px) {
  .main-wrap {
    border-radius: 40px 0 0 40px;
  }
}
